doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='utf8')
        title= config.title
        meta(name='description', content=config.description)
        meta(name='author', content=config.author)
        | !{css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')}
        | !{css('https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css')}
        | !{css('css/styles.css')}
